<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/subject/<%= data.id %>/edit" method="post">
        <label for="name">Description</label>
        <input type="text" name="description" value="<%= data.description %>"><br>
        <br>
        

    <button type="submit">update</button>
    <a href="/subjects"> cancel </a>

</form>
    
</body>
</html>