<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <% if(error){ %>
        <%= error %>
   <% } %>
    <form action="/login" method="POST">
        
      <label for="email">email</label><br>
      <input type="text" name="email" placeholder="e.g: student@mail.com"><br>
      <label for="name">Password</label><br>
      <input type="text" name="password"><br>
    
        <br>
        <br>

        <button type="submit">login</button>
       <button  href="/home"> cancel </a> </button>
    </form>
    
</body>
</html>